In [4]:
import pandas as pd 
import numpy as np

In [6]:
movies_df=pd.read_csv(r"C:\Users\yashw\Downloads\Movie.csv")

In [8]:
movies_df[0:5]

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [12]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [14]:
user_sim = 1-pairwise_distances

TypeError: unsupported operand type(s) for -: 'int' and 'function'

In [16]:
user_sim_df.Idmax(axis=1)[0:5]

NameError: name 'user_sim_df' is not defined

In [18]:
user_1.movie

NameError: name 'user_1' is not defined